<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library),
	and a few more JavaScript files that you should check out.
-->

<html>

<head>

	<title>Stealth</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100' rel='stylesheet' type='text/css'>
</head>

<body class="chat">
<section class="infobar">
	<div class="col-xs-12 col-md-6 col-lg-6 smalltext text-center introtext	">You're in Stealth. Messages disappear in 60s. Chat room shuts down when everyone leaves.</div>
	<div class="col-xs-12 col-md-3 col-lg-4 smalltext text-center">
	<ul class="chatusers">
	<li class="user1">User 1</li>
	<li class="user2">User 2</li>
	<li class="user3">User 3</li>
	<li class="user4">User 4</li>
	</ul>
	</div>
	<div class="col-xs-12 col-md-3 col-lg-2 smalltext text-center" style="padding-top:5px"><a class="btna" href="/"><span class="btn-leave">Leave Chat</span></a></div>
</section>
	<section class="section chatbody">

		<div class="chatscreen">
			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>
	</section>


		<form id="chatform">
			<div id="isTyping">...</div>
			<textarea id="message" placeholder="Write something..."></textarea>
			<input type="submit" id="submit" value="SEND" style="display:none;"/>

		</form>


	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>
<script>

$(window).resize(function() {
                        $windowWidth = $(window).width();
                        $('#message').width($windowWidth-50);
                        });

 $(document).ready(function() {
        $windowWidth = $(window).width();
        $('#message').width($windowWidth-50);

  });

  </script>

</body>

</html>
